#on-off-btn {
    text-align: center;
}

.btn {
    user-select: none;
    display: inline-block;
    width: 110px;
    height: 50px;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    transition: ease 0.3s;
    background: transparent;
}

.btn-on {
    border: 1px solid green;
    color: white;
}

.btn-on:hover {
    color: white;
    background: green;
}

.btn-off {
    border: 1px solid red;
    color: white;
}

.btn-off:hover {
    color: white;
    background: red;
}